@font-face {
    font-family: 'ChronoType';
    src: url('fonts/ChronoType.woff2') format('woff2'),
        url('fonts/ChronoType.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: black;
    font-family: 'ChronoType';
    font-weight: 600;
    color: #dfdfdf;
    min-height: 100vh;
}

body {
    text-align: center;
}

.wrap {
	margin: auto;
}

a {
    color: #00ffd9;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-right: 16px;
    justify-content: center;
  }

li {
  padding-right: 16px;
}
