@font-face {
    font-family: 'ChronoType';
    src: url('fonts/ChronoType.woff2') format('woff2'),
        url('fonts/ChronoType.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

html {
    background-color: black;
    font-family: 'ChronoType';
    font-weight: 600;
    color: #dfdfdf;
    min-height: 100vh;
    max-width: 100%;
    overflow-x: hidden;
}

body {
    text-align: center;
}

.wrap {
}
a {
    color: #00ffd9;
}

ul {
    list-style-type: none;
    display: flex;
    margin: 0;
    padding-right: 16px;
    justify-content: center;
  }

li {
    padding-right: 16px;
}

.sitemessage {
    font-size: 20px;
    display: inline-block;
    white-space: nowrap;
    animation: floatText 325s infinite linear;
    padding-left: 100%; /*Initial offset*/
}
@keyframes floatText {
  to {
    transform: translateX(-100%);
  }
}

.twitchpfp {
    margin-top: 8px;
}

.zulul {
    position: absolute;
    right: 0px;
    bottom: 0px;
    width:24px;
    height:24px;
}

.archive {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width:24px;
    height:24px;
}

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

/* animated links TriHard my code now */
a {
	text-decoration: none;
	color: #5be8ea;
}
a:hover {
	animation: linkhover 3s infinite;
}

@keyframes linkhover {
	7.14%, 57.14% {color:#ff0000;}
	14.28%, 54.28% {color:#ff7f00;}
	21.42%, 71.42% {color:#ffff00;}
	28.57%, 78.57% {color:#00ff00;}
	35.71%, 85.71% {color:#0000ff;}
	42.85%, 92.85% {color:#4b0082;}
	50%, 100% {color:#8b00ff;}
}

.pugpls {
    margin-top: -68px;
}
